/*---------------------------------------------------------------------------*/
/* CONFIGURAÇÕES DA PÁGINA */
/*---------------------------------------------------------------------------*/

body{
	
	width: 100%;
	height: 100%;
	padding-top: 76px !important;
	overflow-x: hidden;
}


/*---------------------------------------------------------------------------*/
/* LOGOMARCA */
/*---------------------------------------------------------------------------*/

.logo{
	height: 50px;
	width: 50px;
}

/*---------------------------------------------------------------------------*/
/* TIPOGRAFIA */
/*---------------------------------------------------------------------------*/

h1{ 
	font-family: Verdana, Arial, sans-serif; 
	font-size: 24px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: bold; 
	line-height: 26.4px; 
}

h3{ 
	font-family: Verdana, Arial, sans-serif; 
	font-size: 14px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 15.4px; 
}

p{ 
	font-family: Arial, sans-serif; 
	font-size: 14px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 20px; 
}

blockquote{ 
	font-family: Verdana, Arial, sans-serif; 
	font-size: 21px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 30px; 
}

pre{ 
	font-family: Verdana, Arial, sans-serif; 
	font-size: 13px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 18.5667px; 
}

/*---------------------------------------------------------------------------*/
/* BLOCOS DE PÁGINAS */
/*---------------------------------------------------------------------------*/

.inicio{
	width: 98.8vw;
	height: 91.4vh;
}

.sobre{
	width: 98.8vw;
	height: 91.4vh;
}

.servicos{
	width: 98.8vw;
	height: 91.4vh;
}

.contato{
	width: 98.8vw;
	height: 91.4vh;
}

/*---------------------------------------------------------------------------*/
/* BLOCOS DE PÁGINAS */
/*---------------------------------------------------------------------------*/

.jumbotron{
	margin-bottom: 0px !important;
	border-radius: 0 !important;
	color: white;
}

/*---------------------------------------------------------------------------*/
/* CARROSSELL */
/*---------------------------------------------------------------------------*/

.car{
	width: 50vw;
	padding-top: 30px;
}

/*---------------------------------------------------------------------------*/
/* IMAGENS NOTICIA */
/*---------------------------------------------------------------------------*/

.img-noticia{
	width: 15vw;
}

/*---------------------------------------------------------------------------*/
/* HISTÓRIA */
/*---------------------------------------------------------------------------*/

.remove-padding{
	padding: -15px !important;
}

.foto-historia{
	width: 17vw;
}

.historia-block{
	padding-top: 20px;
}

/*---------------------------------------------------------------------------*/
/* MEDIA QUERY */
/*---------------------------------------------------------------------------*/

@media only screen and (max-width: 767px) {

	.titulo{
		font-size: 13px;
	}

	.logo{
		height: 30px;
		width: 30px;
	}

	.nav-tog{
		padding: 0 !important;
	}

	.car{
		width: 90vw;
		padding-top: 0px;
		margin-top: -10px !important;
		margin-bottom: -30px !important;
	}

	.blc{
		margin-bottom: -30px !important;
	}

	.img-noticia{
		width: 65vw;
	}

	.celular-pra-vc-n{
		display: none;
	}


}

@media only screen and (min-height: 640px) and (max-width: 767px) {

	.img-noticia{
		width: 90vw;
	}

}